<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome to <%= @user.username %>'s page </strong>
    <%= gravatar_for @user, size: 150%>

</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p><h2> <%= @user.username %>s Articles: </h2>

  <div align="center">
      <%= will_paginate @user_articles%>
  </div>
<%=render 'articles/article', obj: @user_articles%>





<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
