<!-- This a wrapper file file for views in the applicaiton -->

<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/navigation' %>


    <!-- all other views in the app get served in this area  -->

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
